* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

body {
  background-color: lightgray;
}

header {
  padding: 20px 30px;
  background-color: #fff;
  margin-bottom: 50px;
}

h1 {
  display: inline-block;
  vertical-align: middle;
  font-size: 42px;
}

.logo {
  vertical-align: middle;
}

section {
  width: 900px;

  margin-left: auto;
  margin-right: auto;
  background-color: #fff;
  padding: 10px 50px;
}

.btn-section {
  border-radius: 10px 10px 0 0;
  margin-bottom: 2px;
}

.inline-block {
  display: inline-block;
}

.btn {
  border: solid;
  border-radius: 6px;
  padding: 5px 10px;
}

.main-section {
  padding: 40px 50px;
  border-radius: 0 0 10px 10px;
  margin-bottom: 10px;
}
.compiti div {
  margin-bottom: 10px;
  padding-left: 7px;
}

.blue {
  background-color: rgb(32, 162, 255);
  color: #fff;
  border-color: rgb(32, 162, 255);
}

.gray {
  color: lightgray;
  border-color: lightgray;
}

.lilla {
  background-color: rgb(155, 113, 228);
  color: #fff;
}

.green {
  background-color: rgb(100, 192, 169);
  color: #fff;
}

.lime-green {
  background-color: rgb(176, 201, 38);
  color: #fff;
}

.orange {
  background-color: rgb(242, 157, 50);
  color: #fff;
}

.pink {
  background-color: rgb(216, 98, 161);
  color: #fff;
}

.check-box {
  text-align: center;
  vertical-align: middle;
  border: 1px solid rgb(100, 192, 169);
  border-radius: 50%;
  color: rgb(100, 192, 169);
  padding: 1px;
  font-size: 10px;
}

.x-box {
  text-align: center;
  vertical-align: middle;
  border: 1px solid red;
  border-radius: 50%;
  color: red;
  padding: 1px;

  font-size: 10px;
}

.tag {
  border-radius: 15px;
  padding: 5px 10px;
}

.dropdown {
  font-size: 30px;
  vertical-align: sub;
}

.mb-40px {
  margin-bottom: 40px;
}

.mb-10px {
  margin-bottom: 10px;
}

p {
  font-size: 10px;
}
